#s-dac2b488-8fb9-43c4-b998-908d45e3a243 > #backgroundBox {
  background-color: #EAE0C9;
  position: absolute;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 > #alignmentBox {
  position: relative;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Yeseva One_23.0.0_google',Arial;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Yeseva One_23.0.0_google',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Yeseva One_23.0.0_google',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Image_2 {
  position: absolute;
  width: 559.040204922946px;
  height: 419.1515792735333px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Image_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Image_2 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Image_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Image_3 {
  position: absolute;
  width: 559.040204922946px;
  height: 419.1515792735333px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Image_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Image_3 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Image_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_2 {
  position: absolute;
  width: 559.0402049229459px;
  min-height: 418.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: color;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: rgba(234,224,201,0.62);
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_3 {
  position: absolute;
  width: 559.0402049229464px;
  min-height: 418.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: color;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: rgba(234,224,201,0.52);
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_8 {
  position: absolute;
  width: 595.015625px;
  min-height: 292.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato_24.0.0_google',Arial;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato_24.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 32px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Lato_24.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 32px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_9 {
  position: absolute;
  width: 595.015625px;
  min-height: 261.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato_24.0.0_google',Arial;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_9 .valign {
  vertical-align: top;
  text-align: right;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_9 span {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: 'Lato_24.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 32px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Lato_24.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 32px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_1 {
  position: absolute;
  width: 1439.9999999999998px;
  min-height: 110.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #F2EAD7;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Image_1 {
  position: absolute;
  width: 101.00000000000045px;
  height: 94.39252336448598px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Image_1 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Image_1 > .borderLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Image_1 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_1 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: none;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: none;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_2 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: none;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: none;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_3 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: none;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: none;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_5 {
  position: absolute;
  width: 128.99240259846215px;
  min-height: 52.51531047226263px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #E2D3B0;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_5 > .borderLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_4 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: none;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: none;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_5 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: none;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: none;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Path_1 {
  position: absolute;
  width: 26.999999856433245px;
  height: 24.47625554923411px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Path_2 {
  position: absolute;
  width: 11.54882806359143px;
  height: 19.81571478778619px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Path_3 {
  position: absolute;
  width: 27.000004383009188px;
  height: 25.000001189488557px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Path_4 {
  position: absolute;
  width: 13.864287258509805px;
  height: 12.839849312933197px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Path_5 {
  position: absolute;
  width: 3.2357472295382195px;
  height: 3.010057877206222px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Path_6 {
  position: absolute;
  width: 27.000000000000004px;
  height: 25.000000000000004px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato_24.0.0_google',Arial;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_7 span {
  color: #676666;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato_24.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #676666;
  text-decoration: none;
  font-family: 'Lato_24.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato_24.0.0_google',Arial;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_10 span {
  color: #676666;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato_24.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #676666;
  text-decoration: none;
  font-family: 'Lato_24.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-dac2b488-8fb9-43c4-b998-908d45e3a243 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}